.App{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(222, 178, 48);
  text-align: center;
  color: white;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}


@media (max-width: 800px){
  .App{
    align-items: flex-start;
  }
}
