.widget-container {
  min-width: fit-content;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90%;
  border-radius: 20px;
}

header {
  color: white;
  font-weight: 700;
  font-size: 2rem;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  padding-left: 2rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.widget-container table {
  height: 90%;
  width: 100%;
  border: 5px solid black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: rgba(42, 42, 42);
}

.widget-container thead {
  height: 10%;
  width: 100%;
}

.widget-container tbody {
  height: 90%;
  width: 100%;
}

@media (max-width: 800px) {

  table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  thead{
    display: none;
  }

  .widget-container{
    height: fit-content;
    padding: 2rem;
  }

  tbody{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .flight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}